version: 2
updates:
- package-ecosystem: github-actions
  directory: /.github/workflows
  schedule:
    interval: quarterly
  cooldown:
    default-days: 7
  groups:
    patches:
      update-types:
      - patch

- package-ecosystem: uv
  directory: /
  schedule:
    interval: quarterly
  cooldown:
    default-days: 7
  groups:
    patches:
      update-types:
      - patch
