# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test

on:
  push:
    branches:
    - master
    tags: v*
  pull_request:
  schedule:
  # run this on first day of the month at 3 am UTC
  - cron: 0 3 1 * *
  workflow_dispatch:

jobs:
  build:
    name: ${{ matrix.os }}, Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version:
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'

        include:
        - os: ubuntu-22.04
          python-version: 3.10.0
          oldestdeps: true
        - os: macos-latest
          python-version: '3.14'
        - os: windows-latest
          python-version: '3.14'

    concurrency:
      group: ${{ github.ref }}-${{ matrix.os }}-${{ matrix.python-version }}-build
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set UV_RESOLUTION
      if: ${{ matrix.oldestdeps }}
      run: |
        echo "UV_RESOLUTION=lowest-direct" >> $GITHUB_ENV

    - run: uv sync --group test --compile-bytecode

    - name: Test package (no coverage)
      if: ${{ !startsWith( matrix.os , 'ubuntu' ) }}
      shell: bash # windows compat
      run: |
        uv run --no-sync --no-editable \
          pytest --color=yes --mpl

    - name: Test package (with coverage)
      if: startsWith( matrix.os , 'ubuntu' )
      # cannot use --frozen flag here because it would nullify UV_RESOLUTION
      run: |
        uv run --group covcheck \
          coverage run --parallel-mode -m pytest --color=yes --mpl

    - name: Upload coverage data
      # only using reports from ubuntu because
      # combining reports from multiple platforms is tricky (or impossible ?)
      if: startsWith( matrix.os , 'ubuntu' )
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: cmasher_coverage_data-${{ matrix.os }}-${{ matrix.python-version }}${{ matrix.oldestdeps }}
        path: .coverage.*
        if-no-files-found: ignore
        include-hidden-files: true


  coverage:
    name: Combine & check coverage
    runs-on: ubuntu-latest
    needs: build

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
    - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        pattern: cmasher_coverage_data-*
        merge-multiple: true

    - run: uv sync --only-group covcheck
    - name: Check coverage
      run: |
        uv run --no-project coverage combine
        uv run --no-project coverage html --skip-covered --skip-empty
        uv run --no-project coverage report --fail-under=98

    - name: Upload HTML report if check failed.
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: cmasher_coverage_report
        path: htmlcov
      if: ${{ failure() }}

  type-check:
    name: type check w/ Python ${{ matrix.python-version }}

    strategy:
      matrix:
        python-version:
        - '3.10'
        - '3.13'

    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.ref }}-${{ matrix.python-version }}-typecheck
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run mypy
      run: uv run --no-editable --group typecheck mypy src/cmasher

  docs:
    name: Build docs
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.ref }}-docs
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      with:
        python-version: '3.13'

    - name: Build
      run: |
        uv run --frozen --group docs --compile-bytecode \
          sphinx-build -M html docs/source site -W
    - name: Upload artifacts
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: site
        path: site

  build-artifacts:
    name: Build artifacts
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
    - run: uv build
    - run: uvx twine check dist/*
    - run: uv run scripts/check_dist.py

    - name: Upload artifacts
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: dist
        path: dist

  publish:
    name: Publish to PyPI

    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    needs:
    - build
    - type-check
    - docs
    - build-artifacts

    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/CMasher

    permissions:
      id-token: write

    steps:
    - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: dist
        path: dist

    - name: Publish package distributions to PyPI
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
