# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test

on: [push, pull_request]

jobs:
  build:
    name: ${{ matrix.os }} ${{ matrix.architecture }}, Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        architecture: [x86, x64]
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8, 3.9]
        exclude:
          - os: ubuntu-latest
            architecture: x86
          - os: macos-latest
            architecture: x86

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }} ${{ matrix.architecture }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
        architecture:  ${{ matrix.architecture }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install -r requirements_dev.txt
    - name: Test deployment
      run: |
        check-manifest
        python setup.py sdist bdist_wheel
        twine check dist/*
    - name: Test package
      run: |
        pytest
    - name: Upload coverage
      run: |
        curl -s https://codecov.io/bash | bash
    - name: Deploy package
      if: success() && ${{ matrix.os == 'ubuntu-latest' }} && ${{ github.event == 'push' }} && ${{ github.ref == 'refs/heads/GitHub-Actions-Deploy'}}
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        twine upload --skip-existing dist/*
      
